{#
=Attendee data=

profile:
    website
    first_name
    last_name
    addresses
    company
    email
    name
#}
<ul class="eventbrite-events">
{% for event in events %}
  <li><span class="name"><strong>{{ event.name.text }}</strong></span> <div>{{ event.summary }}</div>
    {% if event.status == "live"  %}
    <a href="{{ event.url }}">Register</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
